* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}

.continer {
    width: 100%;
    height: 100vh;

}

.top {
    width: 100%;
    height: 65%;
    display: flex;
}

/* از اینجا قسمت چپ شروع میشه  */
.left {
    width: 35%;
    height: 100%;


}

.left-top {
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    display: flex;


}


.hojjat {
    font-weight: bolder;
    font-size: 70px;
    color: #5a189a;

}
.name{
    animation: move 3s ease-in-out alternate;
}
@keyframes move {
    0%{
        
        opacity: 0;
        margin: 60px 0;
        /* transform: translate(-200px); */
    }
    100%{
        /* transform: translate(300px); */
    }
    
}
.surname {
    font-weight: 500;
    font-size: 50px;
    color: #5a189a;
    display: block;
    line-height: 0.9;

}

.job {
    font-size: 15px;
    display: block;
    color: #212529;

}

.left-bottom {
    width: 100%;
    height: 50%;



}

.about-section {
    margin-top: 20px;
    width: 80%;
    margin: 30px auto;

}

.title-container {
    display: flex;
    align-items: center;
    margin-top: 15%;
    float: ce;
}

.icon-user {
    width: 40px;
    margin-right: 10px;
}

.title {
    font-size: 30px;
    color: #5a189a;
    font-weight: 700;

}

.description {
    margin-top: 10px;
    color: #2f3e46cc;
}

.academic {
    width: 90%;
    margin-top: 5%;
    height: 100%;


}

.aca-ul {
    margin: 15px 0;
    color: #5a189a;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}

.history {
    font-size: 15px;
    margin-left: 5%;

    border-bottom: 1px solid rgba(102, 97, 97, 0.534);
}

/* قسمت چپ تموم شد  */



/* از اینجا وارد بخش وسظ شدیم  */
.center {
    width: 30%;
    height: 92vh;
    background-color: #5a189a;
    border-radius: 0 0 30px 30px;
}

.profile-place {
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.profile-back {
    background-color: #caf0f82c;
    width: 250px;
    height: 250px;
    border-radius: 55% 45% 73% 27% / 31% 70% 30% 69%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.profile-pic {
    width: 210px;
    border-radius: 50%;
}

.center-content {
    margin-top: 3%;
    transform: translateX(-4%);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.descriptionn {
    color: #edf2f4;
    margin-top: 5%;
    font-size: 19px;
    line-height: 2;
}

.bio-place {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
}

.center-title {
    color: #edf2f4;
}

.right {
    width: 35%;
    height: 50%;


}

.contact {
    text-align: center;
    width: 100%;
    height: 12%;
    margin-top: 10%;
}

.tooltip {
    width: 100%;
    height: 50%;
    margin-top: 7%;
}

.right-bottom {
    width: 100%;
    height: 50vh;
}

.title-area {
    display: flex;
    justify-content: center;
    align-items: center;

}

.skill-twins {
    margin-top: 40px;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.skill-name {
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills {
    color: #5a189a;
    margin-bottom: 5.3vh;
}

.skill-board {
    width: 70%;
    height: 100%;
}
.white-space{
    width: 90%;
    border-radius: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.26);
    margin-top: 2vh;
    margin-bottom: 8vh;
}
.progress{
    width: 90%;
    justify-content: end;
    display: flex;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(to right, #ff6449, #a414b8);
    border-radius: 12px;
}
.derece{
    margin-bottom: 60px;
    background-image: linear-gradient(to right, #ff6449, #a414b8);
    border-radius: 5px;
    margin-right: -5%;
    padding: 0 4px;
    position: relative;
    color: #fff;
}
.derece::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    right: 0;
    bottom: -20%;
    transform: rotate(45deg);
    margin: 0 auto;
    z-index: -1;
    background-image: linear-gradient(to right, #ff6449, #a414b8);
}
body {
    background-color: white;
    color: black;
}


/* استایل‌های دارک مود */
body.dark-mode {
    background-color: #121212;
    color: white;
}